<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SourceDirectory" value="C:\Assessment\AG\Tweet Files" />
    <add key="LoggingFolder" value="C:\Assessment\AG\Logs"/>
    <add key="UserFile" value="user.txt"/>
    <add key="Tweets" value="tweet.txt"/>
    <add key="UserRepositoryProvider" value="Twitable.EntityRepository.UserRepository, Twitable.EntityRepository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="TweetRepositoryProvider" value="Twitable.EntityRepository.TwitRepository, Twitable.EntityRepository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>
</configuration>