<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDirectory" value="C:\Assessment\AG\Tweet Files" />
    <add key="LoggingFolder" value="C:\Assessment\AG\Logs"/>
    <add key="UserFile" value="user.txt"/>
    <add key="Tweets" value="tweet.txt"/>
  </appSettings>
</configuration>